*{
    border: 0px;
    padding: 0px;
}

body{
    background-color: rgb(4, 83, 254);
    
}
.container{

    height: 200px;
    text-align: center;
    color: rgb(255, 255, 255);
    
}
.container img{
left: 10px;
position: absolute;
}

  
    

.mi{
    font-size: 50px;
}
.name{
    padding: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;

}
.container {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;

}
.def{

}
.padre{
    padding: 20px;
    display: flex;
    gap: 20px;
}
.Quiensoy{
    color: white;
flex: 1;
background-color: rgb(255, 0, 0);
box-shadow: 2px 1px 10px 1px;
padding: 10px;
border-radius: 15px;
font-size: 20px;
}
.conocimientos{
flex: 1;
background-color: rgb(255, 0, 0);
box-shadow: 2px 1px 10px 1px;
padding: 10px;
color: white;
border-radius: 15px;
font-size: 20px
}
.Metas{
flex: 1;
background-color: rgb(255, 0, 0);
box-shadow: 2px 1px 10px 1px;
border-radius: 15px;

padding: 10px;
color: white;
font-size: 20px
}
.hobbis{
    background-color: rgb(250, 0, 0);
    color: white;
    text-align: center;
    width: 540px;
margin-top: 50px;

box-shadow: 2px 1px 10px 1px;
border-radius: 15px;

}
img{
    position:absolute;
    left: 45%;
    
}
.contactos{
    padding: 20px;
    background-color: rgb(255, 0, 0);
    background-color: rgb(250, 0, 0);
    color: white;
    width: 500px;
    margin-right: 50px;
box-shadow: 2px 1px 10px 1px;
border-radius: 15px;
}
.contactos img{
    top: 500px;
    padding: 100px;
    position: absolute;
    width: 500px;
}

